.btn {
    border-radius: $border-radius;
    display: inline-block;
    font-size: map-get($font-size, 5);
    font-weight: map-get($font-weight, semibold);
    padding: map-get($spacing, 2) map-get($spacing, 3);
    text-align: center;

    &--blue {
        background-color: $color-link;
        border-bottom-color: #075d89;
        color: $color-white;
    }
}