.site-nav {
    overflow: hidden;
    padding-bottom: map-get($spacing, 1);
    white-space: nowrap;

    li {
        display: inline-block;
        padding: 1rem map-get($spacing, base) map-get($spacing, base);

        &:first-child {
            padding-left: 0;
        }
    }

    .link {
        color: $color-link-secondary;
        font-size: map-get($font-size, base);

        &:hover {
            color: $color-link-secondary-hover;
        }
    }
}