$color-link: #0078b4;
$color-link-secondary: #00497b;
$color-link-secondary-hover: #002243;
$color-paragraph: #2d3c4a;
$color-title: #313a45;
$color-black: #000;
$color-white: #fff;
$color-section-background: #e6ebf0;
$color-card-shadow: rgba(0, 0, 0, 0.1);
$color-card-header: #313a45;
$color-card-hover: #f5f8fa;
