@import "styles/utils/styles";
@import "styles/base/styles";
@import "styles/components/styles";

.page {
  background: $color-section-background;
  text-align: center;
}


.main {
  width: 90%;
  margin: 0 auto;
  h1 {
    margin-top: 72px;
    font-size: 32px;
    font-weight: lighter;
    color: $color-black;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    color: $color-black;
  }

  .cards {
    margin: 72px auto;
  }

  .card {
    width: 570px;
    height: 369px;
    display: inline-flex;
    box-shadow: 2px 2px 2px 1px $color-card-shadow;
    border: 1px solid rgba(153, 153, 153, 0.5);
    background-color: $color-white;
    margin-right: 30px;

    @media (max-width: 768px) {
      max-width: 500px;
    }
    
    &:hover {
      background-color: $color-card-hover;

    }
    .card-image {
      width: 260px;

      img {
        border-radius: 4px;
        width: inherit;
        height: 369px;
      }
    }

    .card-content {
      position: relative;
      padding: 24px;
      font-size: 14px;
      h2 {
        font-size: 18px;
        font-weight: bold;
        color: $color-card-header;
      }

      p {
        color: $color-paragraph;
      }

      a {
        position: absolute;
        right: 60px;
        bottom: 15px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 2px;
          text-underline-offset: 3px;
        }
      }
    }
  }
}
